body {
	font-family: var(--font-family-primary);
	font-size: 2vw;
	background: var(--color-background);
	color: var(--color-foreground);
	-webkit-font-smoothing: antialiased;
}

button {
	font-family: var(--font-family-secondary);
	background: inherit;
	border: none;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}
