button {
	border: none;
	background: inherit;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	cursor: pointer;
	transform-origin: 0.2s;
	transform: scale(1.1);
}

button:hover {
	transform: scale(1.1);
	cursor: pointer;
	transform-origin: 0.2s;
}

img {
	width: 100%;
}