body {
	font-family: var(--font-family-primary);
	font-size: 2vw;
	background: var(--color-background);
	color: var(--color-foreground);
	-webkit-font-smoothing: antialiased;
}

button {
	font-family: var(--font-family-secondary);
	background: inherit;
	border: none;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

/* a:focus, button:focus {
	border: 0.3rem solid #7babff;
} */

/* Adds hover effect to tablet and desktop version */
@media screen and (min-width: 768px) {
	body {
		font-size: 2.5vw;
	}

	/* button:hover {
		transition: 0.2s;
		transform: scale(1.05);
		cursor: pointer;
		transform-origin: 0.2s;
	} */
}

@media screen and (min-width: 1066px) {
	body {
		/* max-width: 1920px; */
		margin: 0 auto;
	}
}