.about__section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: var(--padding-large);
	color: var(--color-02);
}

.about__headline {
	font-family: var(--font-family-secondary);
	padding: var(--padding-medium);
}

.about__description {
	padding: var(--padding-medium);
	font-family: var(--font-family-text);
}