.checkout__form--popup {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--color-03);
	border: 1px solid black;
	padding: var(--padding-small) var(--padding-large);
	width: 80%;
	z-index: 999;
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 95vh;
}

.checkout__form--overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 998;
 }

.form__legend--information{
	font-size: var(--font-size-small);
}

.form__legend--card {
	font-size: var(--font-size-small);
}

.form__collection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 0.3rem;
}

.form__fieldset--information {
	padding: 0 3rem;
	margin-bottom: var(--margin-small);
}

.form__input {
	margin: var(--margin-small);
	padding: 0.3rem;
}

.form__close--button {
	width: 1rem;
}

.form__checkout--button {
	margin: var(--margin-normal);
	padding: var(--padding-small);
	border: 1px solid var(--color-02);
	border-radius: 2rem;
}

@media screen and (min-width: 768px) {
	.checkout__form--popup {
		width: 60%;
	}

	.form__collection {
		flex-direction: row;
	}

	.form__fieldset--information {
		margin: var(--margin-small);
		padding: var(--padding-normal);
	}

	.form__fieldset--card {
		margin: var(--margin-small);
		padding: var(--padding-normal);
	}

	.form__checkout--button:hover {
		transition: 0.4s;
		cursor: pointer;
		background: var(--color-button);
	}
}

@media screen and (min-width: 1024px) {
	.checkout__form--popup {
		width:  40%;
	}
}