.arcade--hero__section {
	padding: var(--padding-large);
	text-align: center;
	color: var(--color-02);
	background: var(--color-03);
}

.arcade--hero__headline {
	font-size: var(--font-size-large);
}

.arcade--hero__text {
	padding: var(--padding-medium);
	font-family: var(--font-family-text);
	font-size: var(--font-size-medium);
}

/* The Arcade Games section */
.arcade__games--section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: var(--padding-normal);
	color: var(--color-02);
	background: var(--color-background);
}

.game__card {
	padding: var(--padding-medium);
	text-align: center;
	border: 1px solid var(--color-02);
	background: var(--color-03);
	color: var(--color-02);
}

.game__card--visual {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--padding-normal);
	background: var(--color-background);
}

.game__card--visual--source {
	margin: var(--margin-small);
	width: 35%;
}

.game__card--text {
	padding: var(--padding-normal);
}

.game__card--headline {
	padding: var(--padding-normal);
	font-size: var(--font-size-small);
	font-family: var(--font-family-secondary);
}

.game__card--description {
	text-align: left;
	font-family: var(--font-family-text);
	font-size: var(--font-size-small);
}

@media screen and (min-width: 768px) {
	.game__card {
		display: flex;
	}

	.game__card--visual {
		width: 50%;
	}

	.game__card--text {
		width: 50%;
	}
}