.header__container {
	padding: var(--padding-normal);
	background: var(--color-01);
	border: solid #000 2px;
}

.header__left {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header__home--link {
	padding-left: var(--padding-normal);
	width: 8rem;
}

.header__navigation--buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: var(--margin-normal);
}

.menu__cart--icon {
		width: var(--icon-width);
}

.navigation__cart--mobile--button {
	margin: var(--margin-normal);
}

.navigation__open--button {
	width: var(--icon-width);
}

.navigation__close--button {
	display: none;
	width: var(--icon-width);
}

.header__navigation {
	display: none;
	height: 45vh;
}

.header__navigation--visible {
	display: block;
	border-top: none;
}

.header__menu--headline {
	display: flex;
	justify-content: center;
	padding-top: var(--margin-x-large);
	font-size: var(--font-size-headline);
	color: var(--color-02);
}

.header__menu--item {
	margin: var(--margin-normal);
	margin-left: var(--margin-x-large);
	font-size: var(--font-size-medium);
}

.header__menu--item--link {
	color: var(--color-02);
	white-space: nowrap;
}

.header__right {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 10px 30px 10px 10px;
}

.menu__input--field {
	padding-left: var(--padding-medium);
	width: 15rem;
	font-family: var(--font-family-primary);
	font-size: var(--font-size-small);
	border: 2px solid var(--color-02);
	border-radius: 5rem;
}

.menu__input--icon {
	position: absolute; 
	top: 50%;
	right: 0.65rem;
	transform: translateY(-50%);
}

.menu__input--button {
	position: relative;
	margin-left: -2rem; 
	width: 2rem;
	height: 2.5rem;
}

.menu__input--search { 
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.menu__cart--desktop {
	display: none;
}

@media screen and (min-width: 940px){
	.header__container {
		display: flex;
		justify-content: center;
		flex-direction: row; 
		border: solid #000 2px;
		padding: 0;
	}

	.header__left {
		padding: 0;
	}

	.header__home--button {
		padding-left: var(--padding-large);
		margin: 0;
		width: 9rem;
	}

	.header__navigation {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 9rem;
	}

	.header__menu {
		display: flex;
		flex-direction: row;
	}

	.header__menu--item {
		font-size: var(--font-size-large);
	}

	.header__menu--item:hover {
		transition: 0.4s;
		background: var(--color-logo);
	}

	.menu__input--field {
		width: 12rem;
	}

	.menu__cart--icon {
		margin-right: var(--margin-normal);
	}

	.menu__input--icon {
		width: var(--icon-width);
	}

	.menu__cart--desktop {
		display: flex;
	}

	.header__left {
		border: none;
	}

	.header__navigation--visible { 
		border: none;
	}

	.header__navigation--buttons {
		display: none;
	}

	.header__menu--headline  {
		display: none;
	}
}

