	.products__section--top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: var(--padding-normal);
	}

	.products__section--headline {
		color: var(--color-02);
		font-size: var(--font-size-headline);
	}

	.products__more--button {
		padding: var(--padding-button);
		width: var(--button-width-normal);
		border: 2px solid var(--color-02);
		font-family: var(--font-family-secondary);
	}

	.list__products--chosen {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.list__products--all {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.product__card--link {
		margin: var(--margin-normal);
		padding-top: var(--padding-normal);
		height: 100%;
		width: 90%;
		border: 2px solid #000;
		color: var(--color-02);
		background: var(--color-foreground);
	}

	.product__image {
		text-align: center;
	}

	.product__image--source {
		max-width: 80%;
	}

	.product__image--source {
		max-width: 60%;
		height: 100%;
		object-fit: cover;
	}

	.product__information {
		padding: var(--padding-);
	}

	.product__information--brand {
		margin: var(--margin-normal);
		font-size: var(--font-size-medium);
	}

	.product__information--name {
		margin: var(--margin-normal);
		font-family: var(--font-family-secondary);
		font-size: var(--font-size-text);
	}

	.product__information--price {
		margin: var(--margin-normal);
		font-family: var(--font-family-text);
		font-size: var(--font-size-small);
	}

	.product__explore--button {
		margin: var(--margin-normal);
		padding: var(--padding-small);
		border: 2px solid var(--color-02);
		width: 10rem;
		font-family: var(--font-family-secondary);
		background: var(--color-background);
	}


@media screen and (min-width: 618px) {
	.list__products--chosen {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
	}

	.list__products--all {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
	}

	/* .products__section--top {
		margin-bottom: var(----margin-normal);
	} */

	.product__card--link {
		align-self: start;
		width: 95%;
		height: 95%;
	}

	.product__information {
		padding: var(--padding-small);
	}

	.product__information--brand {
		margin: var(--margin-normal);
	}

	.product__information--name {
		margin: var(--margin-normal);
		font-family: var(--font-family-secondary);
	}

	.product__information--price {
		margin: var(--margin-normal);
		font-family: var(--font-family-text);
	}

	.product__explore--button {
		margin: 1rem 20%;
		padding: var(--padding-medium);
		width: 60%;
		border: 2px solid #36454F;
		font-family: var(--font-family-secondary);
	}
} 

@media screen and (min-width: 1066px) {
	.list__products--chosen {
		grid-template-columns: repeat(3, 1fr);
	}


	.list__products--all {
		grid-template-columns: repeat(4, 1fr);
	}

	.products__section--top {
		margin-bottom: var(--margin-x-large);
	}

	.product__explore--button {
		margin: 1rem 20%;
		padding: var(--padding-large);
		width: 60%;
		font-family: var(--font-family-secondary);
	}

}