/*
	- Todo: Fix styling for the card images. 
*/


.products__section--top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--padding-normal);
}

.products__section--headline {
	color: var(--color-02);
	font-size: var(--font-size-headline);
}

.products__more--link {
	margin: var(--margin-normal);
	padding: var(--padding-small);
	font-family: var(--font-family-secondary);
	border: 1px solid var(--color-02);
	background: var(--color-button);
	color: var(--color-02);
}

.more--link {
	display: flex;
	justify-content: center;
	width: var(--button-width-normal);
	font-size: var(--font-size-x-small)
}

.list__products--chosen {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.list__products--all {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.product__card--link {
	margin: var(--margin-normal);
	padding-top: var(--padding-normal);
	height: 100%;
	width: 90%;
	border: 1px solid #000;
	color: var(--color-02);
	background: var(--color-foreground);
}

.product__image {
	padding: var(--padding-small);
	height: 18rem;
	width: 100%;
	overflow: hidden;
	text-align: center;
}

.product__image--source {
	width: auto;
	height: 100%;
	max-width: 100%;
	object-fit: contain;
	object-position: center;
}

.product__information {
	padding: var(--padding-);
}

.product__information--brand {
	margin: var(--margin-normal);
	font-size: var(--font-size-medium);
}

.product__information--name {
	margin: var(--margin-normal);
	font-family: var(--font-family-secondary);
	font-size: var(--font-size-text);
}

.product__information--price {
	margin: var(--margin-normal);
	font-family: var(--font-family-text);
	font-size: var(--font-size-small);
}

.product__explore--button {
	margin: var(--margin-normal);
	padding: var(--padding-small);
	width: var(--button-width-large);
	font-family: var(--font-family-secondary);
	border: 1px solid var(--color-02);
	background: var(--color-button);
}

	/* Focus styling  */
	.product__card--link:focus, 
	.product__explore--button:focus {
		border: 0.3rem solid var(--color-focus);
	} 
		

@media screen and (min-width: 618px) {
	.list__products--chosen {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
	}

	.list__products--all {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
	}

	.product__card--link {
		align-self: start;
		width: 95%;
		height: 95%;
	}

	.product__information {
		padding: var(--padding-small);
	}

	.product__information--brand {
		margin: var(--margin-normal);
	}

	.product__information--name {
		margin: var(--margin-normal);
		font-family: var(--font-family-secondary);
	}

	.product__information--price {
		margin: var(--margin-normal);
		font-family: var(--font-family-text);
	}

	.product__explore--button {
		margin: 1rem 20%;
		padding: var(--padding-medium);
		width: 60%;
		border: 1px solid #36454F;
		font-family: var(--font-family-secondary);
	}

	.product__explore--button:hover {
		cursor: pointer;
		transition: 0.2s;
		transform-origin: 0.2s;
		transform: scale(1.05);
	}
} 

@media screen and (min-width: 1132px) {
	.list__products--chosen {
		grid-template-columns: repeat(3, 1fr);
	}


	.list__products--all {
		grid-template-columns: repeat(4, 1fr);
	}

	

	.product__explore--button {
		margin: 1rem 20%;
		width: 60%;
		font-family: var(--font-family-secondary);
	}

}