.product__preview--information {
	padding: var(--padding-normal);
	font-size: var(--font-size-medium);
	color: var(--color-02);
}

.product__preview--card {
	padding: var(--padding-large);
	border: 1px solid var(--color-02);
	background: var(--color-foreground);
}

.product__detail--name {
	margin: var(--margin-normal);
	font-family: var(--font-family-secondary);
}

.product__details--content {
	display: flex;
	flex-direction: column;
}

.product__detail {
	display: flex;
	flex-direction: column;
}

.product__detail--text {
	width: 15%;
	padding: var(--padding-small);
}

.detail__price--container, 
.detail__brand--container, 
.product__color--container {
	display: flex;
	align-items: center;
}

.product__detail--value {
	font-size: var(--font-size-small);
	font-family: var(--font-family-text);
}

.product__detail--colors {
	padding: var(--padding-normal);
}

.product__detail--color--code {
	margin-right: var(--margin-small);
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 50%;
	border: 1px solid var(--color-02);
}

.card__button--add-to-cart {
	display: flex;
	justify-content: center;
	margin: var(--margin-normal) 0;
	width: var(--button-width-large);
	border: 1px solid var(--color-02);
	font-size: var(--font-size-medium);
	font-family: var(--font-family-primary);
	
	background: var(--color-05);
}

.product__card--description {
	font-size: var(--font-size-small);
}
.card__description--headline {
	margin: var(--margin-normal) 0;
	font-family: var(--font-family-secondary);
}

.card__description--text {
	margin: var(--margin-normal) 0;
	font-family: var(--font-family-text);
}

@media screen and (min-width: 940px) {
	.product__preview--card {
		display: flex;
		justify-content: center;

		padding: var(--padding-x-large);
	}

	.product__card--top {
		margin: var(--margin-normal);
		width: 50%;
	}

	.product__card--bottom {
		margin: var(--margin-normal);
		width: 50%;
	}

	.product__detail--text {
		width: 18%;
		padding: var(--padding-small);
	}
}

@media screen and (min-width: 1066px) {
	.product__preview--information {
		display: flex;
		justify-content: center;
	}
}