.cart__section {
	margin: var(--margin-normal);
	padding: var(--padding-normal);
	text-align: center;
	color: var(--color-02);
	background: var(--color-03);
}

.cart__headline {
	font-size: var(--font-size-large);
}

.cart__product--item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: var(--margin-normal);
	padding: var(--padding-normal);
	border: 1px solid var(--color-02);
	font-size: var(--font-size-small);
}

.cart__product--image {
	width: 30%;
}

.cart__product--title {
	margin: var(--margin-small);
	font-family: var(--font-family-text);
	font-weight: var(--font-weight-900);
}

.cart__product--price {
	margin: var(--margin-small);
	font-family: var(--font-family-text);
}

.cart__product--remove--button {
	margin: var(--margin-normal);
	padding: var(--padding-button);
	border: 1px solid var(--color-02);
	background: var(--color-background);
}

.cart__products--total--summary {
	display: flex;
	justify-content: space-evenly;
	padding: var(--padding-normal);
	font-size: var(--font-size-medium);
}

.cart__products--total {
	background: var(--color-01);
}

.cart__products--total--sum {
	color: red;	
}

.cart__products--payment--button {
	margin: var(--margin-normal);
	padding: var(--padding-button);
	border: 1px solid var(--color-02);
	background: var(--color-background);
}

@media screen and (min-width: 940px) {
	.cart__section {
		margin: 2rem 5rem
	}

	.cart__product--item {
		padding: 0 var(--padding-small);
	}

	.cart__products--total {
		display: flex;
		justify-content: space-around;
		padding: var(--padding-medium);
	}

	.cart__products--total--summary {
		width: 30%;
		font-size: var(--font-size-large);
	}

	/* .cart__product--remove--button:hover {
		background: var(--hover-background);
	} */
}